<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suit">
    <test name="Test">
        <classes>
            <class name="test.com.siniak.labirint.parser.FileParserTest"/>
            <class name="test.com.siniak.labirint.validator.ValidatorTest"/>
            <class name="test.com.siniak.labirint.calculation.CalculationTest"/>
            <class name="test.com.siniak.labirint.RunnerTest"/>
        </classes>
    </test>
</suite>